@charset "UTF-8";

*{margin: 0; padding: 0;}
html,body{font-size: 12px;}
h1,h2,h3,h4,h5,h6{font-size: 100%;}
ol,ul{list-style: none;}
a{color: inherit;
    text-decoration: none;}
img{vertical-align: bottom;}
address{font-style: normal;}
button{background: #000;}
    

#wrap{
    width: 100%;
    min-width: 1100px;
}
.boxalign{
    width: 1100px;
    margin: auto;
}

/* HEADER */
header{
    padding: 1.5rem;
}
header > .boxalign{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    opacity: .9;
}

header .logo:hover{
    opacity: 1;
}
header .logo h1{
  padding: 1.2rem 0;
}
header .logo h1 a{}
header .logo h1 a img{}

header nav{
    display: flex;
    gap: 5rem;
}
header nav div{
    border-bottom: 4px solid transparent;
}
header nav div a{
    /* border: 1px solid green; */
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1rem 0 .2rem;
}
header nav div:hover{
    color: #ffce00;
    border-bottom: 4px solid ;
}

/* header nav div a */


/* MAIN */
main{
    position: relative;
    overflow: hidden;    
}
main .mbg{
    background: url("./images/main_bg.jpg") center;
    background-size: cover;
    width: 100%;
    height: 600px;
    transition: .7s;
}

main:hover .mbg{
    transform: scale(1.2);
}

main .mtext{
    width: 450px;
    position: absolute;
    background: #000000a8;
    top: 0;
    bottom: 0;
    left: 15%;
    color: #fff;
    padding: 3rem;
    transition: .7s;    
}
main:hover .mtext{
    left: 10%;
    padding: 4rem;
}

main .mtext h2{
    font-size: 2.2em;
}

main .mtext span{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #fff;
    margin: 2rem 0;
    border-radius: 50%;
    transition: .7s;
}
main:hover .mtext span{
    background-color: #ffce00;
    width: 50px;
    border-radius: 0;

}
main .mtext p{
    font-size: 1.3em;
    margin-bottom: 10rem;
    line-height: 1.6;
}
main .mtext a{
    display: inline-block;
    padding: 1rem;
    border: 1px solid;
    font-size: 1.2em;
}

main .mtext a:hover{
    background-color: #fff;
    color: #000000;
    font-weight: bold;
}

/* SECTION */
section{}
section ul{
    display: flex;
    gap: 25px;
}
section ul li{
    width: 350px;
}
section ul li:first-child{
    background: #ffce00;
    height: 350px;
    padding: 30px;
    width: 290px;
}
section ul li h3{
    font-size: 1.9rem;
}
section ul li > span{
    display: block;
    width: 1px;
    height: 100px;
    background: #000;
    margin: 2rem 1rem;
}
section ul li p{
    font-size: 1.2rem;
    letter-spacing: -1.5;
    line-height: 1.5;
}

section ul li a{}
section span.imgbox{}
section span.imgbox img{}
section span.textbox{}
section span.textbox strong{}
section span.textbox span.whycover{}
section span.textbox span.whycover span.wcbg{}
section span.textbox span.whycover i{}

/* FOOTER */
footer{}